*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    // font-family: 'cicero';
    color:black ;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.template-lista {
    background: url(../../../../assets/img/template-lista.png) center;
    background-size: cover;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cnt-espera
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cnt-listado-espera
{
    width: 70%;
    height: 80%;
    background: #fff;
    border-radius: 5px;
    border-radius: #fff;
    overflow: auto;
    position: relative;
    top: 5%;
    text-align: center;
}

.cnt-listado-espera span {
    color: black;
}

.cnt-listado-espera ul
{
    list-style: none;
    padding: 5%;
}

.cnt-listado-espera li
{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    box-shadow: inset 0px 0px 20px 1px rgb(94, 20, 197);
    border-radius: 30px;
    margin-top: 5%;
}

.btn-update-lista {
    width: 75%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #78c1ad;
    box-shadow: 0px 18px 15px -10px rgba(0,0,0,0.75);
    transition: all ease 0.2s;
    margin-top: 5%;
    font-size: 1.5em;

    &:active {
         background: #8b0101;
    }
}

ion-icon {
    font-size: 3.5em;
    color: #000000;
    position: absolute;
    transition: all ease 0.3s;
    z-index: 10;
}

