*{
    // font-family: 'cicero';
    color:black ;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-mozo{
    width: 100%;   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btns-home-mozo{
        text-align: center;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        height: 80%;
        width: 80%;

         div{
            width: 100%;
            height: 20%;
            background: #78c1ad;
            color: ghostwhite;
            border: none;
            outline: none;
            transition: 0.5s;
            letter-spacing: 2px;  
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            &:active{
                background: rgb(122, 1, 1);
            }      
        }
    }
}