*
{
    padding: 0;
    margin: 0;
    color: ghostwhite;
    font-family: 'cicero';
}

.contenedor
{
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(../../../assets/img/title-login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1
{
    text-align: center;
    font-family: "resto";
    font-size: 3.5em;
    letter-spacing: 1px;
    padding: 10%;
}

.contenedorLogin
{
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    flex-direction: column;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
}
#botonUsuario, #botonInvitado {
    background: #2488CA;
    width: 100%;
    height: 70%;
    color: ghostwhite;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    height: 0%;
    width: 0%;
    transition: ease all 0.3s;
}

.datos
{
    width: 100%;
}

#correo, #pass, #nombreInvitado
{
    position: relative;
    width: 100%;
    height: 7vh;
    text-align: left;
    border-bottom: 1px solid ghostwhite;
    font-size: 1.2em;
    transition: 0.2s;
    --placeholder-opacity: 0.9;
}


#pass
{
    margin-top: 5vh;
}

::placeholder
{
    color: black;
}

.button
{
    position: relative;
    width: 100%;
    height: 14%;
    display: block;
}

#nombreInvitado {
    max-height: 7vh;
}

.container-avatar img {
    width: 50%;
}


#submit, #submitInvitado
{
    background: #2488ca; //rgba(65, 32, 119, 0.9);
    width: 100%;
    height: 100%;
    color: ghostwhite;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#submit:active, #submitInvitado:active
{
    background: #01097a //rgb(42, 21, 77);
}

#registrate {
    color: rgb(36, 136, 202);
    font-weight: bold;
}

.container-texto-registro
{
    width: 80%;
}

.texto-registro {
    margin-top: 3vh;
}

.mensaje
{
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 60vw;
    height: 7vh;
    top: 95%;
    background: rgba(234, 0, 0, 0.85);
    border-radius: 5px;
    font-size: 1.1em;
}

span
{
    width: 100vw;
    font-family: 'ageo';
}


.usuarios
{
    display: none;
    position: absolute;
    width: 80vw;
    height: 10vh;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.usuarios ion-icon
{
    width: 25%;
    height: 50%;
    transition: 0.1s;
}

.usuarios ion-icon:active
{   
    transform: (rotateY(360deg));
}