
<div class="contenedor">
  <h1>ReComiendo</h1>
  <div class="contenedorLogin">
    <div class="button">
      <input type="button" value="Usuario" id="botonUsuario" (click)="mostrarLogin()">
    </div>
      <form (ngSubmit)="loguear()" id="formUsuario">
        <div class="datos">
          <ion-input type="text" id="correo" placeholder="Correo electrónico" maxlength="35" clear-input (ionFocus)='focus("correo")' (ionBlur)='noFocus("correo")'></ion-input>
          <br>
          <ion-input type="password" id="pass" placeholder="Contraseña" maxlength="25" minlength="4" clear-input (ionFocus)='focus("pass")' (ionBlur)='noFocus("pass")'></ion-input>
        </div>
        <div class="button">
          <input type="submit" value="Ingresar" id="submit">
        </div>
      </form>
      <div class="mensaje" id="mensajeLogin" style="display: none;">
        <span id="mensajeTexto"></span>
      </div>
      <div class="button">
        <input type="button" value="Invitado" id="botonInvitado" (click)="mostrarInvitado()">
      </div>
      <form ngNativeValidate id="formInvitado" (ngSubmit)="logInAsInvited()">
        <div class="container-avatar" (click)="selectPhotoInPhotolibrary()">
          <img src="../../../assets/img/userDefault.png" alt="">
        </div>
        <ion-input type="text" id="nombreInvitado" placeholder="Nombre" maxlength="35" clear-input (ionFocus)='focus("nombreInvitado")' (ionBlur)='noFocus("nombreInvitado")'></ion-input>
        <div class="button">
          <input type="submit" value="Ingresar" id="submitInvitado">
        </div>
      </form>
      <div class="container-texto-registro">
        <p class="texto-registro">¿No estás registrado? <span routerLink="/registro/cliente" id="registrate">Registrate</span></p>
      </div>
  </div>
  <div class="usuarios">
    <ion-icon name="restaurant-outline" (click)="predeterminados('duenio@duenio.com', '123456')"></ion-icon>
    <ion-icon name="restaurant-outline" (click)="predeterminados('cliente@cliente.com', '123456')"></ion-icon>
    <ion-icon name="restaurant-outline" (click)="predeterminados('mozo@mozo.com', '123456')"></ion-icon>
    <ion-icon name="restaurant-outline" (click)="predeterminados('metre@metre.com', '123456')"></ion-icon>
    <ion-icon name="restaurant-outline" (click)="predeterminados('bartender@bartender.com', '123456')"></ion-icon>
    <ion-icon name="restaurant-outline" (click)="predeterminados('cocinero@cocinero.com', '123456')"></ion-icon>
  </div>
</div>