* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ion-icon {
    font-size: 3.5em;
    color: #000000;
    position: absolute;
    transition: all ease 0.3s;
    z-index: 10;
  }
  
  .ctn-lista-mesas {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .lista-mesas {
      width: 90%;
      height: 70%;
      display: flex;
      justify-content: space-around;
      flex-flow: wrap;
    }
  
    .mesas {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 125px;
      width: 125px;
      font-size: 2em;
    }
  
    span {
      position: fixed;
    }
  }
  
  .true {
    background-color: red;
  }
  
  .false {
    background-color: rgb(14, 255, 106);
  }
  
  .btn-asignar-mesa {
    border-radius: 5%;
    width: 75%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2488CA;
    box-shadow: 0px 18px 15px -10px rgba(0, 0, 0, 0.75);
    transition: all ease 0.2s;
    margin-top: 5%;
    font-size: 1.5em;
  
    &:active {
      background: #8b0101;
    }
  }
  
  .ctn-notificaciones {
    position: relative;
    top: 55%;
    width: 125px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
    .ctn-iconitos {
      width: 100%;
      position: relative;
      top: 20px;
      border-radius: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
  
      div {
        width: (125px / 3);
        padding: 25px;
        border-radius: 50%;
        background-color: ghostwhite;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: red;
  
        ion-icon {
          font-size: 1em;
          color: red;
          font-weight: bold;
        }
      }
    }
    .btn-entregar {
      width: 100%;
      background: ghostwhite;
      color: red;
      position: relative;
      top: -105%;
    }
  }
  
  .cnt-modal-listado-comidas {
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0%;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-listado-comidas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column;
    width: 65%;
    height: 35%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px black;
  
    ion-icon {
      position: relative;
      left: -35%;
    }
  
    p {
      text-align: center;
      font-family: "resto";
      font-size: 2.2em;
      color: red;
    }
  
    ul {
      width: 60%;
      height: 40%;
      list-style: none;
      overflow: auto;
      color: black;
  
      li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 6px;
        padding: 4%;
        border-bottom: 1px solid;
  
        span {
          font-weight: bold;
        }
  
        hr {
          border: 0.5px solid red;
          width: 12%;
        }
      }
    }
  }
  