*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cnt-encuenta
{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(124, 124, 124, 0.9);
    color: ghostwhite;
    font-size: 1.1em;
}

.cnt-encuenta-form
{
    width: 87%;
    height: 90%;
    margin: 10% auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.75);
}

.cnt-encuenta-form form
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.encuesta-textarea
{
    width: 65%;
}

.encuesta-textarea textarea
{
    margin-top: 5%;
    width: 100%;
    height: 60%;
}

.encuesta-radio
{
    width: 50%;
    height: 35%;
}

.encuesta-checkbox 
{
    width: 50%;
}

.encuesta-radio div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8%;
}

p
{
    margin-bottom: 5%;
    font-weight: 600;
    color: cornflowerblue;
}

hr
{
    width: 50%;
}

.encuesta-button
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 8%;
}

.encuesta-button button, .encuesta-button input[type="submit"]
{
    width: 40%;
    height: 60%;
    border-radius: 30px;
    background: rgb(50, 170, 26);
    color: ghostwhite;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: 0.2s;
}

.encuesta-button button
{
    background: rgb(197, 30, 30);
}

.encuesta-button button:hover, .encuesta-button input[type="submit"]:hover
{
    filter: brightness(0.7);
}

.uploadPhoto
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 50%;
    height: 15%;
    
    button
    {
        width: 100%;
        height: 50%;
        background: #eb445a;
        color: ghostwhite;
        font-size: 1em;
        border-radius: 5px;
    }

    ul
    {
        list-style: none;
        height: 60%;
    }
}