<div class="container-client" *ngIf="!(estadoCliente == 'enMesa' || opt)">
  <p *ngIf="!estadoCliente" id="container-client-p">¡Anotate en la lista!</p>
  <p *ngIf="estadoCliente == 'listaEspera'" id="container-client-p">
    Mesa pendiente de asignar
  </p>
  <p *ngIf="estadoCliente == 'encuesta'" id="container-client-p">
    Continúe con su pedido
  </p>
  <div class="btn-scan" (click)="scanListaDeEspera()" *ngIf="!estadoCliente">
    <img src="../../../assets/img/qr.png" alt="" />
    
  </div>
  <div
    class="btn-scan"
    (click)="scanMesa()"
  >
    <img src="../../../assets/img/qr.png" alt="" />
    <br>
    
  </div>
  <br>
  <div *ngIf="estadoCliente == 'listaEspera'">
    <div (click)="opt = 'estadistica'" class="btn-estadistica">
      <span>Estadísticas</span>
    </div>
  </div>
  
  <div
    class="btn-scan"
    (click)="scanMesa()"
    *ngIf="estadoCliente == 'encuesta'"
  >
    <img src="../../../assets/img/qr.png" alt="" />
  </div>
  <div class="opcionesCliente" *ngIf="this.estadoCliente == 'opts'">
    <div (click)="opt = 'estadoPedido'" >
      <span>Estado del pedido</span>
    </div>
    <div (click)="opt = 'encuesta'" >
      <span>Encuesta</span>
    </div>
    <div (click)="opt = 'estadistica'">
      <span>Estadísticas</span>
    </div>
    <div  (click)="pagar()">
      <span>Pedir cuenta</span>
    </div>
  </div>
</div>


<div class="encuesta-satisfaccion" *ngIf="opt == 'estadistica' ">
  <app-estadisticas (volver)="opt = $event" ></app-estadisticas>
</div>


<div class="menu-comidas" *ngIf="estadoCliente == 'enMesa'">
  <app-menu
    (terminoPedido)="estadoCliente = $event"
    [recibirMesa]="mesaPedido"
    [mesaOcupada]="mesaOcupada"
  ></app-menu>
</div>

<div class="encuesta-satisfaccion" *ngIf="opt == 'encuesta'">
  <app-encuesta
    [mesa]="this.mesaOcupada"
    [mesaEncuesta]="mesaPedido"
    (cancelar)="opt = $event"
    (finalizar)="finalizar($event)"
  ></app-encuesta>
</div>

<div class="btn-pedir-cuenta" *ngIf="opt == 'pagar'">
  <ion-icon name="close-circle-sharp" class="back" (click)="salir()"></ion-icon>
  <div class="food">
    <ul>
      <li *ngIf="mesaParaPagar.pedido.productos.platos.milanesa.cantidad > 0">
        <p>
          Milanesa:
          {{ mesaParaPagar.pedido.productos.platos.milanesa.cantidad }}
        </p>
        <p>${{ mesaParaPagar.pedido.productos.platos.milanesa.precio }}</p>
      </li>
      <li *ngIf="mesaParaPagar.pedido.productos.platos.fideos.cantidad > 0">
        <p>
          Fideos: {{ mesaParaPagar.pedido.productos.platos.fideos.cantidad }}
        </p>
        <p>${{ mesaParaPagar.pedido.productos.platos.fideos.precio }}</p>
      </li>
      <li
        *ngIf="mesaParaPagar.pedido.productos.platos.muzzarelitas.cantidad > 0"
      >
        <p>
          Muzzarelitas:
          {{ mesaParaPagar.pedido.productos.platos.muzzarelitas.cantidad }}
        </p>
        <p>${{ mesaParaPagar.pedido.productos.platos.muzzarelitas.precio }}</p>
      </li>
      <li
        *ngIf="mesaParaPagar.pedido.productos.platos.hamburguesa.cantidad > 0"
      >
        <p>
          Hamburguesa:
          {{ mesaParaPagar.pedido.productos.platos.hamburguesa.cantidad }}
        </p>
        <p>${{ mesaParaPagar.pedido.productos.platos.hamburguesa.precio }}</p>
      </li>
      <li *ngIf="mesaParaPagar.pedido.productos.bebidas.agua.cantidad > 0">
        <p>Agua: {{ mesaParaPagar.pedido.productos.bebidas.agua.cantidad }}</p>
        <p>${{ mesaParaPagar.pedido.productos.bebidas.agua.precio }}</p>
      </li>
      <li *ngIf="mesaParaPagar.pedido.productos.bebidas.cerveza.cantidad > 0">
        <p>
          Cerveza: {{ mesaParaPagar.pedido.productos.bebidas.cerveza.cantidad }}
        </p>
        <p>${{ mesaParaPagar.pedido.productos.bebidas.cerveza.precio }}</p>
      </li>
      <li *ngIf="mesaParaPagar.pedido.productos.bebidas.gaseosa.cantidad > 0">
        <p>
          Gaseosa: {{ mesaParaPagar.pedido.productos.bebidas.gaseosa.cantidad }}
        </p>
        <p>${{ mesaParaPagar.pedido.productos.bebidas.gaseosa.precio }}</p>
      </li>
      <li
        *ngIf="mesaParaPagar.pedido.productos.postres.chocotorta.cantidad > 0"
      >
        <p>
          Chocotorta:
          {{ mesaParaPagar.pedido.productos.postres.chocotorta.cantidad }}
        </p>
        <p>${{ mesaParaPagar.pedido.productos.postres.chocotorta.precio }}</p>
      </li>
      <li *ngIf="mesaParaPagar.pedido.productos.postres.flan.cantidad > 0">
        <p>Flan: {{ mesaParaPagar.pedido.productos.postres.flan.cantidad }}</p>
        <p>${{ mesaParaPagar.pedido.productos.postres.flan.precio }}</p>
      </li>
      <li *ngIf="mesaParaPagar.pedido.productos.postres.helado.cantidad > 0">
        <p>
          Helado: {{ mesaParaPagar.pedido.productos.postres.helado.cantidad }}
        </p>
        <p>${{ mesaParaPagar.pedido.productos.postres.helado.precio }}</p>
      </li>
      <li>
        <p>Propina:</p>
        <p>${{ mesaParaPagar.pedido.propina }}</p>
      </li>
    </ul>

    <p class="food-total-amount">
      Total: ${{ mesaParaPagar.pedido.totalConPropina }}.-
    </p>
    <p>El mozo vendrá pronto...</p>
    <div class="salir" (click)="irse()"><span>Salir</span></div>
  </div>
</div>

<div class="estado-pedido" *ngIf="opt == 'estadoPedido'">
  <app-estado-pedido
    [mesaOcupada]="this.mesaOcupada"
    [mesaPedido]="this.mesaPedido"
    (volver)="opt = $event"
  ></app-estado-pedido>
</div>
